/* 
Farbe: #202020, #24bff2, #fff, #F5FBFE.
Farbe social media: #3b5998, #fcaf45, #55acee, #c4302b 

font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;*/

/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:wght@300;400;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    background-repeat: no-repeat;

}

img:hover , section:nth-child(4) div:hover, article a{
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.20);}

body {
    max-width: 1440px;
}

p {
    font-size: 20px;
    line-height: 190%;
    margin: 4% auto;
}

article a {
    padding: 3.5% 2.5%;
    font-size: 25px;
    font-weight: 400;
    border-radius: 10px;
}
article p + a {
    background-color: black;
    color: white;
}
article a+a {
    background-color: none;
    color: black;
    /* border:#d3d3d3 1px solid ; */
    box-shadow: 2px 2px .3 #b6b7b8 ;
    margin-left: 1%;
}


h1 {
    font-size: 60px;
}
/* nav */

nav li {
    display: inline;
    text-align: right;
}
nav ul {
    text-align: right;
}
nav li,ul {
    padding: 2%;
}

/* sections */

/* first part */
div {
    background-position: right;
    background-size: contain;
    padding: 10% 0 10% 5% ;
}

/* article:first-child h1{
    font-size: 60;
} */
div:nth-child(1) p {
    font-size: 35;
}

/* div article {
    width: 45%;
} */

div article {
    padding-right: 60%;
}

div:nth-child(1) {
    background-image: url('../images/illustration1.gif');
    padding: 10% 0 10% 5% ;
}

/* second part */

section div + div {
    background-image: url('../images/illustration2.png');
    background-position: left;
    width: 80%;
    margin: auto;
    text-align: right;
    background-size: 40%;
}
section div + div article {
    display: inline-block;
    text-align: left;
    padding-right: 0;
    padding-left: 50%;
}

/* third part */

section div:nth-child(3) {
    background-image: url('../images/illustration3.png');
    background-position: right;
    background-size: 40%;
    width: 80%;
    margin: 0% auto;
    text-align: left;
    padding: 10% 0;
}
section div:nth-child(3) article {
    display: inline-block;
    text-align: left;
    padding-right: 50%;
    padding-left: 0;
}


/* second section with 3 images */

section:nth-child(2), section:nth-child(3)  {
    text-align: center;     
}
section:nth-child(2) article, section:nth-child(3) article ,section:nth-child(4) {
    padding: 10%  20% 0% 20% ;  

}

section:nth-child(2) img {
    width: 30%;
}

section:nth-child(2) div {
    padding: 0;
}

/* third section with 6 images */

section:nth-child(3) img {
    width: 40%;
    margin-bottom: 3%;
}
section:nth-child(3) div {
    padding-top: 2%;
    padding-bottom: 0;
}
section:nth-child(3) img:nth-child(odd) {
    margin-right: 3%;
}

/* last section */
section:nth-child(4) article{
    text-align: center;
}
/* section:nth-child(4) div * {
    padding: 0;
    margin: 0;
    width: unset;
} */
section:nth-child(4) div {
    text-align: center;
    background-color: rgb(244, 251, 255);
    padding: 5% 0;
    margin: 5% auto;
    width: 200px;
}
section:nth-child(4) a {
    background-color:#24bff2 ;
    padding: 3% 6%;
    border-radius: 10px;
    color: white;
    font-weight: 300    ;
}
section:nth-child(4) p {
    margin: 0;
}
section:nth-child(4) h3 + h1 {
    margin: 3% auto;
}
section:nth-child(4) ul {
    margin-bottom: 6%;
    line-height: 180%;
}


/* footer */

footer {
    text-align: center;
    padding-top: 3%;
}

footer li:nth-child(odd) {
    color:grey;
}

footer li {
    line-height: 150%;
}
footer li:last-of-type span::before {
    content: ".";
    font-size: 35px;
}

footer li:last-of-type span:nth-of-type(1)::before {
    color: #3b5998;
}
footer li:last-of-type span:nth-of-type(2)::before {
    color: #fcaf45;
}
footer li:last-of-type span:nth-of-type(3)::before {
    color: #55acee;
}
footer li:last-of-type span:nth-of-type(4)::before {
    color: #c4302b;
}





/* for fun */

h2 {
    visibility: hidden;
    font-size: 40px;
  }


@media only screen and (max-width: 600px) {
    body {
      background-color: lightgray;
      }
    h2:after {
        content:'SURPRIZEEE !!!'; 
        visibility: visible;
        display: block;
        color: white;
      }

  }



